
            <div class="row center_all">
                <div class="five columns employee_display">
                    <div class="engineer_header employee_header">
                        <h2 class="employee_name">{{ name }}</h2>
                        <h3 class="employee_title"><i class="fas fa-glasses mr-2"></i> {{ role }}</h3>
                    </div>
                    <div class="employee_info_box">
                        <ul>
                            <li>ID: {{ id }}</li>
                            <li>Email: <a href="mailto:{{ email }}"> {{ email }}</a></li>
                            <li>GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer"> {{ github }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
